body {
    font-family: "Teko", sans-serif;
    background-color:#F8F9FA;
    color:#212529;
  }
.bg-beiche{
    background-color:#FFFFFF;
    border:1px solid #DEE2E6;
}
.bg-black-lower{
    background-color:#FFFFFF;
}
.bg-black-medium{
    background-color:#F1F3F5;
}
a:hover{
    color:#cae9ea;
}
.bg-verdeClaro{
    background-color:#208c8c;
    color:black;
}
.bg-verdeClaro:hover{
    background-color:#cae9ea;
    color:black;
}
.btn-outline-anarkia{
    border:2px solid #208c8c;
    color:#208c8c;
}
  .py-10 {
      
      padding-top: 8.5rem !important;
      padding-bottom: 8.5rem !important;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }

  .hero-img {
    max-height: 530px;
    object-fit: cover;
  }

  /* SECCIONES DE TEXTO */
  .section-text {
    padding: 60px 20px;
  }

  .section-text h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Berlin Sans FB', sans-serif;
  }

  .gallery-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5;
  }

  #login-section{
    font-family: 'Berlin Sans FB', sans-serif;
  }
  .content {
  padding: 4px;
  align-items: center;
}
  .merch-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.product {
  background:#FFFFFF;
  border:1px solid #DEE2E6;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}

  /* FOOTER */
  footer {
    font-size: 0.85rem;
    color:#495057;
  }

  #register{
    color: #A3FFD1;
  }
  @font-face {
    font-family: 'Berlin Sans FB';
    src: url('/Fuente/BRLNSR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .navbar .nav-link.btn:hover{
    background-color:#cae9ea !important;
    color:black !important;
}