body {
    font-family: "Teko", sans-serif;
    background-color: black; /* Fondo negro */
    color: #fff; /* Texto blanco */
  }
  .bg-beiche{
    background-color: #D9D9D9;
  }
  .bg-black-lower{
    background-color: #1E1E1E;
  }
  .bg-black-medium{
    background-color: #2A2A2A;
  }
  a:hover{
    color:#1E1E1E;
  }
  .bg-verdeClaro{
    background-color: rgb(128, 10, 10);
  }
  .bg-verdeClaro:hover{
    background-color: #ffffff;
    color: black;
  }
  .btn-outline-anarkia{
      border: 2px solid rgb(128, 10, 10);
  }
  .py-10 {
      
      padding-top: 8.5rem !important;
      padding-bottom: 8.5rem !important;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }

  .hero-img {
    max-height: 530px;
    object-fit: cover;
  }

  /* SECCIONES DE TEXTO */
  .section-text {
    padding: 60px 20px;
  }

  .section-text h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Berlin Sans FB', sans-serif;
  }

  .gallery-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5;
  }

  #login-section{
    font-family: 'Berlin Sans FB', sans-serif;
  }
  .content {
  padding: 4px;
  align-items: center;
}
  .merch-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.product {
  background: #D9D9D9;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}

  /* FOOTER */
  footer {
    font-size: 0.85rem;
    color: #aaa;
  }

  #register{
    color: #A3FFD1;
  }
  @font-face {
    font-family: 'Berlin Sans FB';
    src: url('/Fuente/BRLNSR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }