  body {
    font-family: "Teko", sans-serif;
    background-color:#F8F9FA;
    color:#212529;
  }
.bg-black-lower{
    background-color:#212529;
}

.bg-verdeClaro{
    background-color:#208c8c;
    color:white;
}
a:hover{
    color:#cae9ea;
}
.btn-outline-anarkia{
    border:2px solid #208c8c;
    color:#208c8c;
}

  .navbar .nav-link.btn:hover {
  color: black !important;
}


  .py-10 {
      
      padding-top: 26.5rem !important;
      padding-bottom: 26.5rem !important;
  }
  /* NAVBAR */
  .navbar-brand {
    font-size: 1.5rem;
  }

  /* HERO */
  .hero-img {
    max-height: 830px;
    object-fit: cover;
  }

  /* --- HERO CON VIDEO --- */
.hero {
  position: relative;
  width: 100%;
  height: 830px;
  overflow: hidden;
}

/* Video de fondo */
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Capa oscura encima */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.25);
}

/* Texto centrado encima del video */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    color:#212529;
  font-weight: bold;
  font-size: 7rem;
  z-index: 2;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.8rem;
  }
}




/* --- Segunda sección HERO --- */
.hero-secundario {
  height: 700px; 
}

.hero-secundario .hero-text h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.hero-secundario .hero-overlay {
  background: rgba(0, 0, 0, 0.5); 
}

.hero-tercero {
  height: 750px;
}

.hero-tercero .hero-text h1 {
  font-size: 2.8rem;
  color: white;
  font-weight: bold;
  animation: aparecerZoom 1.8s ease-out;
}

.hero-tercero .hero-overlay {
  background: rgba(0, 0, 0, 0.55);
}






  /* GALERÍA */
  .gallery-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5;
  }

  /* LOGOS */
  .logos-section {
    padding: 50px 0;
  }

  .logos-img {
    max-width: 800px;
    width: 90%;
  }

  #slogan{
    font-size: 4rem;
  }
  .text-white:hover{
    color: black;
  }

  /* FOOTER */
  footer {
    font-size: 0.85rem;
    color:#495057;
  }

  .navbar .nav-link.btn{
    transition: all 0.3s ease;
}

.navbar .nav-link.btn:hover{
    background-color:#cae9ea !important;
    color:black !important;
}