  body {
    font-family: "Teko", sans-serif;
    background-color:#F8F9FA;
    color:#212529;
  }
.bg-black-lower{
    background-color:#FFFFFF;
}
.bg-black-medium{
    background-color:#F1F3F5;
}
a:hover{
    color:#cae9ea ;
}
.bg-verdeClaro{
    background-color:#208c8c;
    color:white;
}
.bg-verdeClaro:hover{
    background-color:#cae9ea ;
    color:black;
}
.btn-outline-anarkia{
    border:2px solid #208c8c;
    color:#208c8c;
}
  .py-10 {
      
      padding-top: 26.5rem !important;
      padding-bottom: 26.5rem !important;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }

  .hero-img {
    max-height: 830px;
    object-fit: cover;
  }

  /* SECCIONES DE TEXTO */
  .section-text {
    padding: 60px 20px;
  }

  .section-text h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  .gallery-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5;
  }

  /* LOGOS */
  .logos-section {
    padding: 50px 0;
  }

  .logos-img {
    max-width: 800px;
    width: 90%;
  }

  #slogan{
    font-size: 4rem;
  }
  #ticket-section{
    font-family: 'Berlin Sans FB', sans-serif;
  }

  /* FOOTER */
  footer {
    font-size: 0.85rem;
    color:#495057;
  }

  @font-face {
    font-family: 'Berlin Sans FB';
    src: url('/Fuente/BRLNSR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.navbar .nav-link.btn{
    transition: all 0.3s ease;
}

.navbar .nav-link.btn:hover{
    background-color:#cae9ea !important;
    color:black !important;
}



  /* =========================
   TARJETA DESTACADA EVENTO
========================= */

.evento-destacado{
    background: linear-gradient(
        135deg,
        #208c8c,
        #cae9ea 
    );
    color:black;
    box-shadow: 0 10px 25px rgba(37,99,235,0.30);
}

.evento-destacado .card-title{
    letter-spacing: 1px;
}

.info-evento{
    background: rgba(255,255,255,0.15);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.precio-box{
    background: rgba(255,255,255,0.15);
    border-radius: 12px;
    padding: 12px 15px;
    margin-bottom: 12px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:1.2rem;
}

.precio-box strong{
    font-size:1.5rem;
}

.evento-destacado:hover{
    transform: translateY(-3px);
    transition: 0.3s ease;
}