body {
  font-family: "Teko", sans-serif;
    background-color:#F8F9FA;
    color:#212529;
}
.bg-black-lower{
    background-color:#FFFFFF;
}
.bg-verdeClaro{
    background-color:#208c8c;
    color:white;
}
.bg-verdeClaro:hover{
    background-color:#cae9ea;
    color:black;
}
.btn-outline-anarkia{
    border:2px solid #208c8c;
    color:#208c8c;
}
a:hover{
    color:#cae9ea;
}
h1 {
  font-size: 4rem;
}
img {
  max-height: 300px;
  object-fit: cover;
}

.navbar .nav-link.btn:hover{
    background-color:#cae9ea !important;
    color:black !important;
}