body {
  font-family: "Teko", sans-serif;
  background-color: black;
  color: white;
}
.bg-black-lower {
  background-color: #1E1E1E;
}
  .bg-verdeClaro{
    background-color:rgb(128, 10, 10);
  }
  .bg-verdeClaro:hover{
    background-color: #ffffff;
    color: black;
  }
  .btn-outline-anarkia{
      border: 2px solid rgb(128, 10, 10);
  }
a:hover {
  color: #1E1E1E;
}
h1 {
  font-size: 4rem;
}
img {
  max-height: 300px;
  object-fit: cover;
}
  