<!DOCTYPE html>
<html lang="es" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/Login.css}" />
    <title>ANARKIA GAMES</title>
</head>

<body class="bg-black-lower text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top py-3 border-bottom border-secondary">
        <div class="container">
            <a class="navbar-brand fw-bold text-white fs-1" th:href="@{/}">ANARKIA GAMES</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center ">

                    <li class="nav-item me-lg-2 mb-2 mb-lg-0 ">
                        <a class="btn bg-verdeClaro btn-outline-light nav-link text-black px-4 py-2 fw-bold"
                            th:href="@{/Tickets}">Tickets</a>
                    </li>
                    <li class="nav-item me-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link btn bg-verdeClaro btn-outline-light text-white px-4 py-2 fw-bold rounded-pill"
                            th:href="@{/Merch}">Merch</a>
                    </li>
                    <li class="nav-item me-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link btn bg-verdeClaro btn-outline-light text-white px-4 py-2 fw-bold rounded-pill"
                            th:href="@{/InicioSesion}">Iniciar Sesión</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn btn-light btn-outline-anarkia text-white px-4 py-2 fw-bold rounded-pill"
                            th:href="@{/Registrarse}">Registrate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 10rem; margin-bottom: 10rem;">
        <h2 class="fs-2">¿Olvidaste tu Contraseña?</h2>
        <p class="fs-4">Ingresa tu correo y te enviaremos un código de recuperación.</p>

        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <form th:action="@{/forgot-password}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Código</button>
        </form>
    </div>
    <footer class="bg-black text-muted pt-5 pb-4 border-top">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">
                        ANARKIA GAMES
                    </h5>
                    <p class="text-white mt-0 fs-5">&copy;2026</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="d-flex align-items-center mb-2">
                        <img th:src="@{/Imagenes/youtube.png}" alt="youtube" class="img-fluid d-block me-2"
                            style="width: 40px" />
                        <h5 class="text-uppercase mb-0 font-weight-bold text-white">
                            ANARKIA GAMES
                        </h5>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <img th:src="@{/Imagenes/instagram.png}" alt="instagram" class="img-fluid d-block me-2"
                            style="width: 40px" />
                        <h5 class="text-uppercase mb-0 font-weight-bold text-white">
                            ANARKIA GAMES
                        </h5>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <img th:src="@{/Imagenes/facebook.png}" alt="facebook" class="img-fluid d-block me-2"
                            style="width: 40px" />
                        <h5 class="text-uppercase mb-0 font-weight-bold text-white">
                            ANARKIA GAMES
                        </h5>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <img th:src="@{/Imagenes/twitter.png}" alt="twitter" class="img-fluid d-block me-2"
                            style="width: 40px" />
                        <h5 class="text-uppercase mb-0 font-weight-bold text-white">
                            ANARKIA GAMES
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>