<!DOCTYPE html>
<html lang="es" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/Tickets-II.css}">
  <title>ANARKIA GAMES</title>
</head>

<body class="bg-black-lower text-white">

  <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top py-3 border-bottom border-secondary">
        <div class="container">
            <a class="navbar-brand fw-bold text-white fs-1" th:href="@{/}">ANARKIA GAMES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                    <li class="nav-item me-lg-2 mb-2 mb-lg-0">
                        <a class="btn bg-verdeClaro btn-outline-light nav-link text-black px-4 py-2 fw-bold" th:href="@{/Tickets}">Tickets</a>
                    </li>
                    <li class="nav-item me-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link btn bg-verdeClaro btn-outline-light text-white px-4 py-2 fw-bold rounded-pill" th:href="@{/Merch}">Merch</a>
                    </li>
                    <li class="nav-item me-lg-2 mb-2 mb-lg-0" sec:authorize="hasAuthority('Administrador')">
                        <a class="nav-link btn btn-warning text-dark px-4 py-2 fw-bold" th:href="@{/AdminRegistro}">Panel Admin</a>
                    </li>
                    <li class="nav-item me-lg-2 mb-2 mb-lg-0" sec:authorize="isAnonymous()">
                        <a class="nav-link btn bg-verdeClaro btn-outline-light text-white px-4 py-2 fw-bold rounded-pill" th:href="@{/InicioSesion}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link btn btn-light btn-outline-anarkia text-white px-4 py-2 fw-bold rounded-pill" th:href="@{/Registrarse}">Registrate</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle btn btn-light btn-outline-anarkia text-white px-4 py-2 fw-bold rounded-pill" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mi Cuenta
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/Perfil}">Ver Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <section class="container text-center py-5">
    <h1 class="mb-5">Elige tu modalidad</h1>
    <div class="row justify-content-center">
      <div class="col-md-5 mb-4">
        <img th:src="@{/Imagenes/espectador.png}" class="img-fluid rounded-3" alt="Espectador">
        <p class="mt-2 fw-bold fs-3">Espectador</p>
        <a th:href="@{/TicketsIII(categoria='Espectador')}" class="btn bg-verdeClaro mt-1 px-5 fw-bold">Entrar Ticket</a>
      </div>
      <div class="col-md-5 mb-4">
        <img th:src="@{/Imagenes/jugador.png}" class="img-fluid rounded-3" alt="Jugador">
        <p class="mt-2 fw-bold fs-3">Jugador</p>
        <a th:href="@{/TicketsIII(categoria='Competidor')}" class="btn bg-verdeClaro mt-1 px-5 fw-bold">Entrar Ticket</a>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="bg-black text-muted pt-5 pb-4 border-top">
    <div class="container text-center text-md-start">
      <div class="row text-center text-md-start">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">
            ANARKIA GAMES
          </h5>
          <p class="text-white mt-0 fs-5">&copy;2025</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <div class="d-flex align-items-center mb-2">
            <img th:src="@{/Imagenes/youtube.png}" alt="youtube" class="img-fluid d-block me-2" style="width: 40px" />
            <h5 class="text-uppercase mb-0 font-weight-bold text-white">
              ANARKIA GAMES
            </h5>
          </div>

          <div class="d-flex align-items-center mb-2">
            <img th:src="@{/Imagenes/instagram.png}" alt="instagram" class="img-fluid d-block me-2"
              style="width: 40px" />
            <h5 class="text-uppercase mb-0 font-weight-bold text-white">
              ANARKIA GAMES
            </h5>
          </div>

          <div class="d-flex align-items-center mb-2">
            <img th:src="@{/Imagenes/facebook.png}" alt="facebook" class="img-fluid d-block me-2" style="width: 40px" />
            <h5 class="text-uppercase mb-0 font-weight-bold text-white">
              ANARKIA GAMES
            </h5>
          </div>

          <div class="d-flex align-items-center mb-2">
            <img th:src="@{/Imagenes/twitter.png}" alt="twitter" class="img-fluid d-block me-2" style="width: 40px" />
            <h5 class="text-uppercase mb-0 font-weight-bold text-white">
              ANARKIA GAMES
            </h5>
          </div>
        </div>
      </div>
    </div>
  </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>